[Unit]
Description=vendor
Requires=rc-local.service
After=rc-local.service

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/test/pc_test_tools/network_stability_test/src/host/host.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
